# Dependencies
kutexa-backend/node_modules/

# Environment variables
kutexa-backend\.env

# Uploaded files (Ignora tudo na pasta uploads...)
kutexa-backend\uploads/uploads/*
# (...MAS não ignora o arquivo .gitkeep)
!/uploads/.gitkeep

# Production logs
*.log

# Dependencies
kutexa-frontend\node_modules

# dependencies
kutexa-frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
kutexa-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*

.kutexa-api.env.txt